.button {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}
.chevron {
  color: black;
  width: 9px;
  height: 16px;
  margin-right: 19px;
}
