.container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  height: 70px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 149px;
  margin-bottom: 37px;
}
