.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  width: 100%;
  align-self: center;
}
.title {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 700;
  color: var(--header-text-color);
}
