:root {
  --background-main: #fafafa;
  --button-gray: #7d7d7d;
  --button-green: #2ee5ac;

  --item-tag-color-red: #e14165;
  --item-tag-color-purple: #8686ff;
  --item-tag-color-purple-lt: #c2c2ff;

  --item-status-color-online: #1bda9d;
  --item-status-color-paused: #ff8346;
  --item-status-color-draft: #5c5c5c;
  --item-status-color-stopped: #fe4848;

  --item-name-text-color: #474747;
  --item-text-color: #5c5c5c;
  --table-header-text-color: #999;
  --placeholder-text-color: #d1d1d1;
  --header-text-color: #222;
}
