.tableTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
  color: var(--table-header-text-color);
}
.tableHeader {
  display: grid;
  grid-template-columns: minmax(200px, 414px) minmax(100px, 125px) 116px 123px 95px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 15px;
}
