.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  border: 1px solid #ebebeb;
  padding-left: 13px;
  background: #fff;
  min-height: 45px;
  margin-top: 40px;
}
.inputWrapper {
  width: 94%;
  display: flex;
}
